@import "../../../styles/variables.scss";

.main-nav {
  @include nav-container;

  .nav-buttons {
    margin: $spacing-large;

    #logo {
      font-size: 1.5rem;
      font-weight: 800;
      letter-spacing: 4px;
      color: $primary-color;
      text-decoration: none;
      transition: $default-transition;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  .nav-buttons .account-link {
    @include default-button;
    margin: auto $spacing-xlarge;
  }

  .register {
    @include default-button;
    background-color: $primary-color;
    color: $background-color;

    &:hover {
      background-color: $background-color;
      border: $thick-border $secondary-color;
      color: $secondary-color;
    }
  }
}

.login-modal {
  @include modal;
}
