@import "../../styles/variables.scss";

.main-nav {
  @include nav-container;

  .nav-buttons {
    margin: $spacing-large;
    #logo {
      @include default-button;
      color: $background-color;
      background-color: $primary-color;
    }
  }
  .nav-buttons .account-link {
    @include default-button;
    margin: auto $spacing-xlarge;
  }
  .register {
    @include default-button;
    background-color: $primary-color;
    color: $background-color;
    &:hover {
      background-color: $background-color;
      border: $thick-border $secondary-color;
      color: $secondary-color;
    }
  }
}

.login-modal {
  @include modal;
}
