@import '../../styles/variables.scss';

.main-nav {
    @include nav-container;

    .nav-buttons {
        margin: $spacing-large;
        #logo {
            @include default-button;
        }
    }
    .nav-buttons .account-link {
        @include default-button;
        margin: auto $spacing-xlarge;
    }
    .register {
        @include default-button;
        background-color: $primary-color;
        color: $background-color;
        &:hover {
            background-color: $background-color;
            border: solid 2px $secondary-color;
            color: $secondary-color;
        }
    }
}

.login-modal {
    @include modal;
}