@import "../../styles/variables.scss";

.posts {
  display: flex;
  flex-direction: row;

  .post-list {
    list-style: none;
    margin: 0 $spacing-medium;
    min-width: 70%;

    .no-post {
      border: $thin-border;
      border-radius: $border-radius;
      display: flex;
      padding: $spacing-medium;
      margin: $spacing-medium;
      transition: $default-transition;
    }
  }
}

.post-menu-container {
  height: 0;
  position: relative;
  width: 0;

  .post-menu {
    background-color: $background-color;
    border: none;
    border-radius: $border-radius;
    box-shadow: $default-shadow;
    display: flex;
    flex-direction: column;
    left: -24px;
    padding: 2px;
    position: absolute;
    top: 13px;
    width: 100px;

    a {
      @include link;
      font-size: $small-font;
      padding: $spacing-medium;
      width: 100%;
      height: 100%;
      &:hover {
        background-color: rgb(220, 220, 220);
      }
    }
  }
}
