@import "../../../../styles/variables.scss";

li {
  display: flex;

  .controls {
    @include controls(comment);

    align-items: center;
    cursor: default;
    font-size: $small-font;
    margin: 0 $spacing-small;
  }

  .comment-content {
    margin: 0 $spacing-small;
    padding: $spacing-large;
    border-bottom: $thin-border;
    width: 100%;

    button {
      @include link;

      border: none;
      cursor: pointer;
      font-size: $small-font;
      font-weight: bold;
      margin-top: $spacing-large;
      padding-right: $spacing-large;
    }
    pre {
      margin-bottom: $spacing-large;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    .comment-reply {
      margin-top: $spacing-large;

      textarea {
        width: 100%;
        height: 5em;
      }

      button {
        @include default-button;
        margin-right: $spacing-large;
      }
    }
  }
}
