@import "../../../../styles/variables.scss";

.comment-item {
  display: flex;

  .controls {
    cursor: default;
    font-size: $small-font;
  }

  .comment-content {
    font-size: 0.85em;
    margin: 0 $spacing-small;
    padding: $spacing-large;
    padding-left: 0;
    border-bottom: $thin-border;
    width: 100%;

    button {
      @include link;

      border: none;
      cursor: pointer;
      font-size: $small-font;
      font-weight: bold;
      margin-top: $spacing-large;
      padding-right: $spacing-large;
    }

    pre {
      margin-top: $spacing-large;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .age {
      font-size: $small-font;
      margin-bottom: $spacing-small;
    }

    .comment-edit {
      textarea {
        border: none;
        width: 100%;
        height: auto;
        resize: none;
      }
      button {
        @include default-button;
        padding: $spacing-small;
        margin-right: $spacing-large;
      }
    }
  }

  .votes {
    background-color: $secondary-background;
    display: flex;
    flex-direction: column;
    padding: $spacing-large;

    button {
      background-color: $secondary-background;
      border: none;
      cursor: pointer;
      font-weight: $bold-font;
      margin-bottom: $spacing-medium;
    }
    .likes {
      color: $dark-grey;
      font-size: $small-font;
      align-self: center;
      margin: $spacing-medium;
    }
    .like-post {
      font-size: $large-font;
      transition: $default-transition;
    }
    .like-post:hover,
    .like-post.active {
      color: $like-color;
    }
    .dislike-post {
      font-size: $large-font;
      transition: $default-transition;
    }
    .dislike-post:hover,
    .dislike-post.active {
      color: $dislike-color;
    }
    .score {
      font-size: $small-font;
      align-self: center;
      margin-bottom: $spacing-medium;
    }
  }
}
