@import "../../../../styles/variables.scss";

.post-main {
  display: flex;
  margin: 0 $spacing-small;
  margin-bottom: $spacing-small;

  .post-content {
    margin: $spacing-large 0 0 $spacing-large;
    padding: $spacing-large 0;
    width: 100%;

    div {
      button {
        @include link;

        cursor: pointer;
        border: none;
        font-weight: bold;
        margin-right: $spacing-large;
        margin-top: $spacing-large;
      }
    }

    h3 {
      margin-bottom: $spacing-small;
    }

    p {
      border-bottom: $thin-border;
      font-size: $small-font;
      padding-bottom: $spacing-large;
      margin-bottom: $spacing-large;
    }
    pre {
      margin-bottom: $spacing-large;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .edit-form {
      width: 100%;
      textarea {
        border: $thick-border;
        border-radius: $border-radius;
        resize: none;
        padding: $spacing-small;
      }
      div {
        display: flex;
        flex-direction: row;

        button {
          @include default-button;
        }
      }
    }
  }

  .post-controls {
    @include controls(post);
    // margin: 0 $spacing-small;

    .score {
      font-size: $small-font;
      align-self: center;
    }
  }
}
