@import "../../../styles/variables.scss";

.edit-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;

  div {
    display: flex;
    margin: $spacing-large auto;

    button {
      @include default-button;
      margin: 0 $spacing-large;
    }
  }
  form {
    display: flex;
    flex-direction: column;

    label {
      margin: $spacing-large 0;
    }

    textarea {
      @include input;
      resize: none;
      padding: 2rem;
    }
  }
  p {
    @include error-message;
  }
}
