@import "../../../styles/variables.scss";

.sidebar {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 50%;

  .post-sidebar {
    @include sidebar-container;

    margin-bottom: $spacing-large;
    padding: 0;

    .sidebar-header {
      @include sidebar-header;
    }

    .top-posts {
      margin: $spacing-large;
      list-style-type: none;

      .top-posts-items {
        border: none;
        margin-bottom: $spacing-large;

        a {
          @include link;
          font-size: $medium-font;
          font-weight: bold;
          margin-bottom: $spacing-medium;
        }
      }
    }
  }

  .info-sidebar {
    @include sidebar-container;

    p {
      font-size: $small-font;
    }
  }
}
