@import "../../../styles/variables.scss";

.post {
  border: $thin-border;
  border-radius: $border-radius;
  display: flex;
  padding: 1px;
  margin: $spacing-medium;
  transition: $default-transition;

  &:hover {
    border: $thin-border-active;
  }

  button {
    background-color: $secondary-background;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: $bold-font;
  }

  .votes {
    background-color: $secondary-background;
    display: flex;
    flex-direction: column;
    padding: $spacing-large;
    border-right: $thin-border;

    .likes {
      color: $dark-grey;
      font-size: $small-font;
      align-self: center;
      margin: $spacing-medium;
    }
    .like-post {
      font-size: $large-font;
      transition: $default-transition;
    }
    .like-post:hover,
    .like-post.active {
      color: $like-color;
    }
    .dislike-post {
      font-size: $large-font;
      transition: $default-transition;
    }
    .dislike-post:hover,
    .dislike-post.active {
      color: $dislike-color;
    }
  }
  .post-content {
    padding: $spacing-large;
    max-height: 400px;
    max-width: 90%;
    overflow-wrap: break-word;

    .post-info {
      display: flex;
      p {
        font-size: $small-font;
        margin-bottom: $spacing-medium;
      }
      p:first-child {
        margin-right: $spacing-large;
      }
    }

    .post-preview {
      font-size: $medium-font;
      position: inherit;
    }

    .post-title {
      @include link;
      display: block;
      font-weight: $bold-font;
      margin-bottom: $spacing-xlarge;
      &:hover {
        color: $primary-color;
      }
    }

    .post-links {
      align-items: baseline;
      color: $dark-grey;
      display: flex;
      align-items: center;
      padding-top: $spacing-large;
      div {
        display: flex;
      }

      button {
        color: $dark-grey;
      }

      .menu-button {
        padding: $spacing-small;
        transition: $default-transition;

        &:hover {
          color: $primary-color;
        }
      }

      .comments {
        color: $dark-grey;
        font-size: $small-font;
        font-weight: $bold-font;
        margin-right: $spacing-large;
        padding: $spacing-small;
        text-decoration: none;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
