@import "../../styles/variables.scss";

.register-modal {
  @include modal;

  background: linear-gradient(
    to right,
    rgb(1, 79, 110),
    $primary-color,
    rgb(1, 79, 110)
  );
  height: 100vh;
  margin: auto;

  .modal-content {
    display: flex;
    flex-direction: row;
    height: auto;

    .greeting {
      padding: $spacing-large;

      h1 {
        color: $primary-color;
        padding-bottom: $spacing-xlarge;
      }

      ul {
        list-style-type: none;

        li {
          padding-bottom: $spacing-large;
        }
        li::before {
          content: "\2022";
          color: $primary-color;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }
    }
  }

  h2 {
    margin-bottom: $spacing-xlarge;
  }

  form {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 50%;

    h2 {
      color: $secondary-color;
    }

    label {
      font-size: $small-font;
      margin: 0.4rem 0;
    }

    input {
      @include input;
    }

    div {
      display: flex;
      justify-content: space-evenly;

      button {
        @include default-button;
        margin-top: $spacing-large;
      }
    }

    p {
      @include error-message;
    }
  }

  .trademark {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    color: $background-color;
    padding-bottom: $spacing-medium;
    margin: auto;
    width: 100%;
    text-align: center;
  }
}
