@import "../../styles/variables.scss";

.register-modal {
  @include modal;

  background: linear-gradient(
    to right,
    rgb(1, 79, 110),
    $primary-color,
    rgb(1, 79, 110)
  );
  height: 100vh;
  margin: auto;

  .modal-content {
    height: auto;
  }

  h2 {
    margin-bottom: $spacing-xlarge;
  }

  form {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 50%;

    label {
      font-size: $small-font;
      margin: 0.4rem 0;
    }

    input {
      @include input;
    }

    div {
      display: flex;
      justify-content: space-evenly;

      button {
        @include default-button;
        margin-top: $spacing-large;
      }
    }

    p {
      @include error-message;
    }
  }
}
