@import '../../styles/variables.scss';

.register-modal {
    @include modal;

    background: linear-gradient($primary-color, rgb(0,0,0));
    height: 100vh;
    margin: auto;

    .modal-content {
        height: 70%;
    }

    h2 {
        margin-bottom: $spacing-xlarge;
    }

    form {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        width: 50%;

        label {
            font-size: $small-font;
            margin: $spacing-small 0;
        }

        input {
            @include input;
        }

        div {
            display: flex;
            justify-content: space-evenly;

            button {
                @include default-button;
                margin-top: $spacing-large;
            }
        }
    }
}