@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");

/* Colors */
$background-color: white;
$secondary-background: rgb(252, 252, 252);
$primary-color: rgb(14, 170, 232);
$secondary-color: rgb(255, 156, 36);
$button-hightlight: rgb(220, 220, 220);
$dark-grey: rgb(38, 38, 38);
$light-grey: rgb(204, 204, 204);
$like-color: rgb(204, 97, 31);
$dislike-color: rgb(110, 102, 255);

/* Spacing */
$spacing-small: 0.25rem;
$spacing-medium: 0.5rem;
$spacing-large: 0.75rem;
$spacing-reg: 1rem;
$spacing-xlarge: 1.25rem;

/* Borders */
$border-radius: 6px;
$thin-border: 1px $light-grey solid;
$thick-border: 2px $light-grey solid;
$thin-border-active: 1px $primary-color solid;
$thick-border-active: 2px $primary-color solid;
$default-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.75);

/* Fonts */
$bold-font: bold;
$font-family: "Lato", sans-serif;
$small-font: 0.75rem;
$medium-font: 0.85rem;
$large-font: 1rem;

/* Transitions */
$default-transition: 85ms ease-in all;

/* Mixins */
@mixin controls($property) {
  display: flex;
  flex-direction: column;

  button {
    background-color: $background-color;
    border: none;
    cursor: pointer;
    font-size: $large-font;
    font-weight: bold;
    padding: $spacing-medium;
  }

  .like-#{$property} {
    transition: $default-transition;
  }

  .like-#{$property}:hover,
  .like-#{$property}.active {
    color: $like-color;
  }

  .dislike-#{$property} {
    transition: $default-transition;
  }

  .dislike-#{$property}:hover,
  .dislike-#{$property}.active {
    color: $dislike-color;
  }

  .score {
    justify-self: center;
  }
}

@mixin default-button {
  border: $thick-border-active;
  border-radius: $border-radius;
  color: $primary-color;
  font-weight: bold;
  padding: $spacing-medium $spacing-xlarge;
  text-decoration: none;
  transition: $default-transition;
  &:hover,
  &:focus {
    background-color: $primary-color;
    color: $background-color;
    cursor: pointer;
  }
}

@mixin default-container {
  border: $thin-border;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing-medium;
  transition: $default-transition;

  &:hover {
    border: $thin-border-active;
  }
}

@mixin default-link {
  color: $dark-grey;
  text-decoration: none;
  font-weight: bold;
  transition: $default-transition;

  &:hover {
    color: $primary-color;
  }
}

@mixin error-message {
  color: red;
  font-size: $small-font;
  margin: $spacing-small;
}

@mixin input {
  border-radius: $border-radius;
  border: $thick-border;
  outline: none;
  padding: $spacing-medium;
  transition: $default-transition;

  &:hover,
  &:active,
  &:focus {
    border: $thick-border-active;
  }
}

@mixin link {
  color: $dark-grey;
  text-decoration: none;
  transition: $default-transition;

  &:hover,
  &:focus {
    color: $primary-color;
  }
}

@mixin modal {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(50, 50, 50, 0.75));
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .modal-content {
    align-items: center;
    background-color: white;
    border-radius: $border-radius;
    box-shadow: $default-shadow;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-evenly;
    align-items: center;
    left: 0;
    margin: 5% auto;
    padding: $spacing-xlarge;
    position: fixed;
    right: 0;
    width: 50%;

    .link {
      color: $primary-color;
      transition: $default-transition;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

@mixin nav-container {
  display: flex;
  padding: $spacing-medium;
  justify-content: space-between;
  align-items: center;
  border-bottom: $thin-border;
  transition: $default-transition;
  &:hover {
    border-bottom: $thin-border-active;
  }
}

@mixin sidebar-container {
  border: $thin-border;
  border-radius: $border-radius;
  padding: $spacing-large;
  width: 100%;
}
